<!DOCTYPE html>
 <head>
   	<title>{{page.title}}</title><!--
       <meta name = "author" content ="Arnold.M">
       <meta name = "description" content="Life learning">

       -->
       <meta charset ="utf-8">
       <link rel = "stylesheet" type="text/css" href = "css/main.css">
   </head>

<body>
  <nav>
     <ul>
       <li><a href = "#">Resume</a></li>
       <li><a href = "#">Musings</a></li>
     </ul>
  </nav>
     <div>
    {{ content }}
    </div>
  

	<footer>
		<p>Contact me Via </p>
         	
		
         <a href= "mailto:ramzinc101@gmail.com">mail</a>
         
    </footer>



</body>
