<!DOCTYPE html>
 <html>
 <head>
   	<title>{{page.title}}</title>
        <link rel = "stylesheet" type="text/css" href = "/css/main.css">
   </head>

<body>
     <nav>
     <ul>
       <li><a href = "/Arnold Mpiima's Resume_without_photo.pdf">Resume</a></li>
       <li><a href = "#">Musings</a></li>
     </ul>
  </nav>
    <div class = "content">
    {{ content }}
    </div>

	<footer >
		<p style = "color:#FCF7F7;">Arnold Mpiima, student at The University of Nottingham </p>
   <p id ="footp">Contact me via : 
         	<a href= "mailto:ramzinc101@gmail.com" id ="email">email</a>
     </p> 
    
  </footer>




</body>
</html>
